@charset "UTF-8";
@font-face {
    font-family: 'droid';
    src: url('font/idroid.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'impor';
    src: url('font/impor.otf') format(opentype);
    font-weight: normal;
    font-style: normal;
}
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body {
    background-color: rgb(112, 207, 147);
    text-align: justify;
    display: flex;
    height: 100%;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
}
    
p {
    text-indent: 30px;
}
header {
    
    background-image: linear-gradient(180deg, #2FA765, #1A5C38);

    color: white;
    padding: 10px;
    margin: 0px;
}
header > h1 {
    display: flex;
    justify-content: center;
    margin: auto;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'impor';
    font-weight:initial;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    
    padding-left: 4px;
    padding-right: 4px;
}
a:hover {
    background-color: #1a5c3860;
    color:#3c7d59;
    border-radius: 7px;
    padding: 5px;
}
h4 {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-align: center;
}
main {
    background-color: white;
    padding: 20px;
    width: 800px;
    margin: auto;
}
#androidpq {
    display: flex;
    background-color: rgb(255, 255, 255);
    /*margin-left: 250px;*/
    justify-content: center;
}
img {
    margin: auto;
}
.tit {
    font-family: 'droid', serif;
    background-image: linear-gradient(90deg, rgba(107, 180, 107, 0.542), rgba(205, 255, 205, 0.404));
    font-weight: lighter;
    color: rgb(0, 127, 0);
    padding: 1px 5px 1px 5px;
    border-radius: 3px;
    font-size: 23px;
}
iframe {
    width: 800px;
    height: 450px;
}
#video {
    width: 800px;
    height: 452px;
    background-color: green;
    margin: auto;
   
}
#videos {
    width: 800px;
    height: 450px;
    background-color: green;
    padding: 20px;
}
#extra {
    background-color: rgb(130, 231, 155);
    padding: 5px;
    border-radius:0px 0px 10px 10px;
}
@media screen and (max-width: 837px) {
    main {
        width: 90%;
        padding: 30px;
        margin-right: 10px;
    }
    img {
        width: 450px;
        margin: 0px;
    }
    #video {
    width: 770px;
    height: 450px;
    }
    #videos {
        width: 95%;
        padding: 9px;
    }
}
@media screen and (max-width: 790px) {
    main {
        width: 90%;
        padding: 30px;
        margin-right: 10px;
    }
    img {
        width: 450px;
        margin: 0px;
    }
    #video {
    width: 665px;
    height: 450px;
    }
    #videos {
/*          width: 665px;*/
width: 97%;
        padding: 5px;
    }
}
@media screen and (max-width: 650px) {
    main {
        width: 90%;
        padding: 30px;
        margin-right: 10px;
    }
    img {
        width: 450px;
        margin: 0px;
    }
    #video {
    width: 480px;
    height: 350px;
    }
    #videos {
 /*       width: 545px;*/
 width: 100%;
        height: 353px;
        padding: 5px;
    }
}
    

#cextra {
    background-color: rgb(53, 200, 90);
    color: white;
    padding: 10px;
    border-radius: 7px 7px 0px 0px;
    text-indent: 7px;
    font-weight: bold;
}

footer {
    position: flex;
    bottom: 0px;
width: 100%;
}
.rodape {
   flex-shrink: 0;
   background-color: #1A5C38;
   color: white;
   padding-top: 4px;
   padding-bottom: 4px;
   text-align: center; 
}